.container {
  border: 1px solid black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px 10px;
  border-radius: 1em;
  padding: 1em;
  flex-grow: 3;
  box-sizing: border-box;
  /* max-height: 100%; */
  height: auto;
  overflow: hidden;
}

.container * {
  box-sizing: border-box;
}

.yearLabel {
  width: 100%;
  background-color: #545759;
  color: white;
  padding: 10px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hidden {
  height: 0px;
  overflow: hidden;
  opacity: 0;
  transition-delay: 1s opacity;
  transition: 1s height ease-in-out, 1s opacity ease-in-out;
}

.visible {
  /* transform: translateY(0); */
  height: 200px;
  opacity: 1;
  transition: 1s height ease-in-out, 1s opacity ease-in-out;
}

.table {
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
  width: 100%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.col {
  flex: 4;
  padding: 8px;
  /* background-color: red; */
  /* position: relative;
  top: 0px;
  left: 0px; */
  /* width: 100%;
  height: 100%; */
  width: 300px;
  height: 30px;
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
  max-height: 0px;
  overflow: hidden;
  /* margin: 10px 10px; */
  /* border-radius: 3em; */
}

img {
  transform: rotate(0deg);
  transition-delay: 1s;
  transition: 1s transform ease-in-out;
}

.dropdown {
  border: 1px solid black;
  border-radius: 0.25em;
  transition: transform 0.75s ease-in-out, background-color 0.25s ease-in-out 0.76s;
}

.dropdown:hover {
  transform: rotate(360deg);
  background-color: rgb(29, 125, 177);
}

.delete {
  border: 1px solid black;
  border-radius: 0.25em;
  padding: 0.25vh;
  transition: background-color 0.25s ease-in-out, transform 0.25s ease-in-out, border-radius 0.25s ease-in-out;
}
.delete:hover {
  transform: scale(1.2);
  background-color: rgb(249, 41, 41);
  border-radius: 0.5em;
}

/* td {
  background-color: red;
} */

/*th {
  padding: 5px 0px;
 }
td {
  padding: 15px 10px;
}

thead {
  background-color: #eaeaea !important;
}

table,
td,
thead,
th {
  border: 1px solid black;
} */

/* th {
  border: 1px solid black;
}

td {
  border-right: 1px solid black;
} */
