.container {
  width: 100px;
  height: auto;
  display: flex;
  background-color: rgba(77, 76, 76, 0.633);
  color: white;
  cursor: move;
  position: absolute;
  padding: 0.5em;
  user-select: none;
  border-radius: 1em;
  border: 2px solid black;
  justify-content: center;
}


.text {

  
}

