.container {
  width: 12vw;
  height: 3.5vh;
  display: flex;
  align-items: center;
  background-color: white;
  color: rgb(201, 201, 201);
  border: 1px solid #dfdfdf;
  border-radius: 0.25em;
  z-index: 5;
  transition: border 0.25s ease-in-out, background-color 0.5s ease-in-out;
  /* transition: background-color 0.5s ease-in-out; */
}

.invalidCourse {
  background-color: #fff9b9;
}

.container:hover {
  border-color: #50b8f8;
}

.name {
  margin: 0.5em;
  width: 75%;
  font-size: small;
  cursor: move;
}

.delete,
.info {
  margin: 2px 1px;
  transform: translateY(2px);
  transition: transform 0.25s ease-in-out;
  padding: 0.2em 0.1em;
}

.delete:hover,
.info:hover {
  transform: translateY(-6px);
  cursor: pointer;
}

.icon {
  display: flex;
  align-items: center;
  width: 25%;
  position: relative;
  bottom: 0.1em;
}
