.container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
  flex-wrap: wrap;
}

.searchBarsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.courseNumberContainer {
  position: relative;
  display: flex;
  margin-top: 1em;
  margin-left: 0.5em;
  justify-content: center;
  width: 10vw;
  height: 30px;
  flex-wrap: wrap;
}

.searchBarContainer {
  position: relative;
  display: flex;
  margin-left: 0.5em;
  justify-content: center;
  width: fit-content;
  height: 30px;
  flex-wrap: wrap;
}

.searchBarContainer:hover {
  cursor: pointer;
}

.searchBar {
  width: 100%;
  min-width: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 1em;
}

.searchBarInput {
  width: 100% !important;
  background-color: #ffffff !important;
}

.courseNumberInput {
  width: 20% !important;
  background-color: #ffffff !important;
}

.searchGlass {
  border: 1px solid #d1d1d1;
  background-color: #ffffff;
  width: 1em;
  height: 1em;
  display: flex;
  align-items: center;
}

input::placeholder {
  color: #d1d1d1;
}

.searchBar input {
  width: 100%;
  height: 100%;
}

.departmentItem {
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  height: 100%;
  width: 100%;
  border-radius: 0.2em;
}

.departmentItem:hover {
  background-color: #e8e8e8;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 90%;
}

.searchResults {
  overflow: hidden;
  position: relative;
  top: 0.4em;
  z-index: 60;
  left: 0.4em;
  border: 1px solid #d1d1d1;
  background-color: #f5f4f4;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0.5em;
  overflow-y: scroll;
  transition: height 0.2s ease-in-out;
  max-height: 200px;
  width: 93%;
}

.searchResults::-webkit-scrollbar-button {
  display: none;
}

ul:first-child {
  margin-top: 0.5em;
}

ul:last-child {
  margin-bottom: 0.5em;
}

.bottomBarsContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: max-content;
}

@media screen and (max-width: 850px) {
  .searchBarsContainer {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    gap: 20px;
  }

  .container {
    width: 95%;
  }
  .courseNumberContainer {
    width: 25vw;
  }

  .bottomBarsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 95%;
  }
}
