.container {
  /* border: 1px solid black; */
  position: relative;
  margin-left: 20%;
  display: flex;
  justify-content: center;
  width: 40%;
  height: 50px;
  flex-wrap: wrap;
}

/* .label {
  border: 1px solid black;
  background-color: #cdcdcd;
  border-radius: 5%;
  height: 100%;
  width: fit-content;
  /* width: min-content; */
  /* width: 120px; */
 /* padding: 0px 10px;
  display: flex;
  align-items: center;
} */

/* .searchBar {
  border: 1px solid black;
  border-left: none;
  padding: 0px 10px;
  /* width: 50%; */
  /* width: fit-content; */
  /* width: 150px;
  height: 100%;

  display: flex;
  align-items: center;
} */


.searchBar {
  margin: 1em;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: white;
  width: 50%;
  display: flex;
  align-items: center;
  text-align: center;

  /* transform: scaleX(0); */
  transition: 0.5s border ease-in-out, 0.5s width ease-in-out, transform 0.25s ease-in-out;
}

/* Styles for when user clicks on search bar */
.searchBar:hover {
  border-bottom: 3px solid blue;
  width: 75%;
}
.searchBar input {
  width: 100%;
  text-align: center;
}

/* .options {
  width: 300px;
  border-color: red;
} */

/* .options {
  max-height: 30vh;
  overflow-y: scroll;
  scrollbar-color: #3c39b1 #818181;
  transition-delay: 0.5s;
  transition: 0.5s max-height ease-in-out;
  border: 2px solid black;
} */

/* .departmentItem {
  list-style-type: none;
  padding: 10px 10px;
  width: 80%;
} */

.departmentItem {
  padding: 0.5em;
  margin: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70%;
  padding: 0.3em;
  border-radius: 0.75em;
  border: 2px solid black;
  background-color: rgba(98, 97, 97, 0);
  transition: 
  border 0.25s ease-in-out,
  background-color 0.25s ease-in-out,
  border-bottom-width 0.25s ease-in-out,
  color 0.25s ease-in-out 0.15s;
}

.departmentItem:hover {
  background-color: rgb(173, 172, 172);
  border: 2px solid #3c39b1;
  color: white;
}

/* ul {
  width: 100%;
  padding: 5px 25px;
} */

/* .searchResults {
  background-color: #cdcdcd;
  width: 95%;
  overflow: scroll;
  font-size: 12px;
} */

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}


.searchResults {
  overflow: hidden;
  background-color: rgba(137, 136, 136, 0.8);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0.5em;
  border: 2px solid black;
  /* height: 25vh; */
  overflow-y: scroll;
  scrollbar-color: #3c39b1 #818181;
  transition: height 0.2s ease-in-out;
  height: auto;
  max-height: 25vh;
  width: auto;
}

.searchResults::-webkit-scrollbar-button {
  display: none;
}