*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("uci.jpg");
    background-size: cover;
    background-position: center;
}

.wrapper{
    display: flex;
    height: 70vh;
    width: 50vh;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background: wheat;
    opacity: 0.94;
    color: black;
    font-size: medium;
    border-radius: 10px;
}

.wrapper h1{
    margin-top: 5.5vh;
    text-align: center;
    margin-bottom: 6.5vh;
}

.wrapper p{
    width: 80%;
    font-weight: normal;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.wrapper .input{
    margin-bottom: 1vh;
}

.input input{
    border-radius: 5px;
    width: 80%;
    height: 100%;
    background: transparent;
    border: 1px solid white;
    opacity: 1;
    padding: 7px 7px 7px 7px;
}

.input ::placeholder{
    color: darkslategray;
}

.wrapper .forgot-password {
    font-size: medium;
}

.forgot-password a{
    color: black;
}

.wrapper .btn{
    width: 80%;
    height: 30px;
    border-radius: 20px;
    font-size: large;
    margin: auto;
    font-weight: 300;
    cursor: pointer;
    color: white;
    background-color: rgb(37, 148, 37);
    opacity: 1;
    transition: 0.3s background-color ease-in-out;
}

.wrapper .full-length-input {
    margin-bottom: 1vh;
}

.full-length-input input {
    border-radius: 5px;
    width: 80%;
    height: 100%;
    background: transparent;
    border: 1px solid white;
    opacity: 1;
    padding: 7px 7px 7px 7px;
}

.btn:hover{
    background-color: darkgreen;
}

.wrapper .register{
    font-size: medium;
}

.spacer{
    margin-bottom: 10vh;
}

.spacer-small{
    /* keep small version half of regular */
    margin-bottom: 5vh;
}

.wrapper .footer{
    display: grid;
    justify-content: center;
    align-content: flex-end;
    text-align: center;
}