*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("uci.jpg");
    background-size: cover;
    background-position: center;
}

.wrapper{
    display: flex;
    height: auto;
    width: 25vw;
    margin: auto;
    padding-left: 1%;
    padding-right: 1%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background: wheat;
    opacity: 0.94;
    color: black;
    font-size: medium;
    border-radius: 3vh;
}

.wrapper h1{
    margin-top: 5.5vh;
    text-align: center;
    margin-bottom: 6.5vh;
}

.wrapper p{
    width: 80%;
    font-weight: normal;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.wrapper .input{
    margin-bottom: 1vh;
}

.input input{
    outline: none;
    border-radius: 5px;
    width: 40vh;
    height: 100%;
    background: transparent;
    /* border: 1px solid white; */
    opacity: 1;
    padding: 7px 7px 7px 7px;
    border: none;
    /* border-width: 0px; */
    transition: 1s border ease-in-out;

}

.input input:focus {
    border-bottom: 1px solid black;
    transition: 1s border ease-in-out;

    
} 

.input ::placeholder{
    color: darkslategray;
}

.wrapper .forgot-password {
    font-size: medium;
}

.forgot-password a{
    color: black;
}

.wrapper .btn{
    width: auto;
    height: auto;
    border-radius: 5vh;
    font-size: large;
    margin: auto;
    padding: 1vh 5vh 1vh 5vh;
    font-weight: 300;
    cursor: pointer;
    color: white;
    background-color: rgb(37, 148, 37);
    opacity: 1;
    transition: 0.3s background-color ease-in-out;
}

.btn:hover{
    background-color: darkgreen;
}

.wrapper .register{
    font-size: medium;
}

.spacer{
    margin-bottom: 10vh;
}

.spacer-small{
    /* keep small version half of regular */
    margin-bottom: 5vh;
}

.wrapper .footer{
    display: grid;
    justify-content: center;
    align-content: flex-end;
    text-align: center;
    margin-bottom: 2vh;
}

.g-signin2{
    margin-left: 23px;
    justify-content: right;
    align-content: right;
}