/* * {
  --web
} */

.root {
  width: 100%;
  /* min-height: 100vh; */
  /* height: auto; */
  overflow: visible;
  height: 100%;
  /* min-height: 100%;
  height: auto; */
  /* overflow: auto; */
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

/* .root, .completed-courses, .course-selection{
  background-color: black;
} */

.alertPresent {
}

img {
  max-width: 30px;
  /* max-height: ; */
}

body {
  margin: 0px 0px;
  background-color: #ededed;
  min-height: 100%;
  height: auto;
  overflow: visible;
  /* overflow:  */

  /* overflow: auto; */
  /* height: auto; */
  /* overflow: hidden; */
}

.header {
  width: 100vw;
  height: 10vh;
  /* box-shadow: 3px 4px 7px red !important; */
  /* border: 1px solid red; */
  background-color: #0a74ed;
  color: white;
  display: flex;
  align-items: center;
}

.title {
  width: 80%;
  padding-left: 5%;
}

.sign-in {
  display: flex;
  justify-content: center;
  width: 20%;
}

.label {
  border: 1px solid black;
  background-color: #cdcdcd;
  border-radius: 5%;
  height: 3em;
  width: 7em;
  padding: 0px 10px;
  cursor: pointer;
}

.label:active {
  background-color: #818181;
}

.body {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planning-area {
  width: 65%;
  height: 100%;
  /* height: fit-content; */
  /* height: max-content; */
  overflow: scroll;
  resize: both;
  display: flex;
  flex-direction: column;
  /* margin: 2em; */
  padding: 0em 2em;
  background-color: #fcfcfc;

  /* align-items: center; */
  /* display: flex;
  /* justify-content: center; */
}

.scheduleArea {
  display: flex;
  /* height: 50%; */
  height: fit-content;
  /* width: 100%; */
  /* width: 30em; */
  width: 100%;
  justify-content: center;
  /* justify-content: space-evenly; */
  align-items: center;
  flex-wrap: wrap;
  /* position: relative;
  left: 25%; */
  /* left: auto; */
}

.course-selection {
  width: 35%;
  height: 100%;
  /* max-height: fit-content; */
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
}

.major-selection {
  background-color: #f4f4f4;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.completed-courses {
  background-color: #f4f4f4;
  height: 30%;
}

.majorSearchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: min-content;
}

input {
  all: unset;
}
/* Styles for the search bar */
.majorSearch {
  margin: 1em;
  padding: 0.5em;
  border-radius: 1em;
  background-color: white;
  width: 60%;
  text-align: center;

  /* transform: scaleX(0); */
  transition: 0.5s border ease-in-out, 0.5s width ease-in-out, transform 0.25s ease-in-out;
}

/* Styles for when user clicks on search bar */
.majorSearch:hover {
  border-bottom: 3px solid blue;
  width: 100%;
}
.majorSearch:focus {
  border-bottom: 3px solid blue;
  width: 100%;
}

/* Styles for major closed */
.majorsClosed {
  max-height: 0;
  overflow: hidden;
  transition-delay: 0.5s;
  transition: 0.5s max-height ease-in-out;
  border: none;
}

/* Style that displays the majors */
/* Adds a scroll bar */
.majorsOpened {
  max-height: 30vh;
  overflow-y: scroll;
  scrollbar-color: #3c39b1 #818181;
  transition-delay: 0.5s;
  transition: 0.5s max-height ease-in-out;
  border: 2px solid black;
  /* transition: 0.25s border ease-in-out; */
}

.majorsOpened::-webkit-scrollbar-button {
  display: none;
}

/* Styles for the major container */
#majors {
  border-radius: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* Default styles for each major */
.major {
  border-bottom: 2px solid black;
  border-radius: 0.5em;
  padding: 1em;
  /* padding-top: 2em;
  padding-bottom: 2em; */
  font-size: 2vh;
  margin-bottom: 0.5em;
  transition: 0.25s background-color ease-in-out, 0.25s border ease-in-out, 0.25s padding ease-in-out,
    0.25s font-size ease-in-out;
}

/* Changes properties when we hover each major */
.major:hover {
  background-color: #8c8b8b;
  /* border-color: #3c39b1; */
  border-bottom: 4px solid #2c297c;
  color: #3c39b1;
  font-size: 2.5vh;
}

/* Hides each induvidual major */
.hiddenMajor {
  height: 0px;
  border: none;
  padding: 0em;
  font-size: 0em;
}

/* Makes each major visible */
.visibleMajor {
  visibility: visible;
  overflow: visible;
  height: 2vh;
}

.searchArea {
  height: 10%;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.addYearBtn {
  border-radius: 2em;
  border: 1px solid #f4f4f4;
  background-color: #f4f4f4;
  color: #697784;
  /* width: 7em; */
  width: fit-content;
  padding: 0px 1em;
  height: 2.5em;
  margin: 1em;
  transition: border 0.25s ease-in-out;
}

.addYearBtn:hover {
  border: 1px solid #50b8f8;
  cursor: pointer;
}

.settingButton {
  border-radius: 2em;
  border: 1px solid #f4f4f4;
  background-color: #f4f4f4;
  color: #697784;
  /* width: 7em; */
  width: fit-content;
  padding: 0px 2em;
  height: 2.5em;
  margin: 0.5em;
  transition: border 0.25s ease-in-out;
}

.settingButton:hover {
  border: 1px solid #50b8f8;
  cursor: pointer;
}

.course-bag {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  /* position: relative; */
  row-gap: 10px;
  column-gap: 5px;
  width: 100%;
  height: 80%;
  align-content: flex-start;
  margin-right: 2%;
  margin-left: 2%;
}
